
<div  class="row">

    <form  class="col-6 m-auto">
        <div class="mb-2  mt-5">
            <label for="cat" class="form-label">Category:</label>
            <select class="form-control" name="cat" id="cat" [(ngModel)]="product.CateogryID" >
              <option *ngFor="let item of category" [value]="item.id">
                  {{item.Name}}
                </option>
            </select>
          </div>

        <div  class="mb-2">
          <input type="number" class="form-control"  [(ngModel)]="product.id"name="ID" id="ID" aria-describedby="helpId" placeholder="ID:">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
        <div class="mb-2">
            <input type="text" class="form-control"  [(ngModel)]="product.Name" name="Name" id="Name" aria-describedby="helpId" placeholder="Name:">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
        
          <div class="mb-2">
            <input type="number" class="form-control"   [(ngModel)]="product.Quantity" name="Quantity" id="Quantity" aria-describedby="helpId" placeholder="Quantity:">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
          <div class="mb-2">
            <input type="number" class="form-control" [(ngModel)]="product.Price" name="Price" id="Price" aria-describedby="helpId" placeholder="Price:">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
          <div class="mb-2">
            <input type="text" class="form-control" name="ImgURL" [(ngModel)]="product.Img"id="ImgURL" aria-describedby="helpId" placeholder="ImgURL:">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" name="sub" id="sub" class="btn btn-danger">Add Product</button>
          </div>

    </form>

</div>